server:
  port: 8081

spring:
  application:
    name: subscription

  data:
    mongodb:
      host: 127.0.0.1
      port: 27017
      database: microservice-subscription

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true

    show-sql: true

  zipkin:
    base-url: http://zipkin:9411

  boot:
    admin:
      client:
        url: http://admin-server:8508

management:
  endpoints:
    web:
      exposure:
        include: "*"


eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    fetch-registry: true
    register-with-eureka: true
