server:
  port: 8081

spring:
  application:
    name: subscription

  data:
    mongodb:
      host: 127.0.0.1
      port: 27017
      database: microservice-subscription

  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true

    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
