spring:
  application:
    name: eureka-server
  zipkin:
    base-url: http://zipkin:9411

  boot:
    admin:
      client:
        url: http://admin-server:8508

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8761
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
